@import "./mixins.scss";

/* ---------- ABOUT PAGE ---------- */

#about-page-container {
  width: 100%;
  @include display-flex(column, flex-start, center);
  padding-top: 20px;
  line-height: 1.3;
}

#what-section {
  width: 90%;
}

/* ---------- info section ---------- */

#bio-container {
  width: 90%;
  padding: 1rem;
}

#image-section {
  margin-left: 65%;
}

#profile-picture {
  float: right;
  padding-top: 1rem;
  padding-left: 1rem;
  max-height: 400px;
  max-width: 400px;
  border-radius: 30px;
}

/* ---------- knowledge section ---------- */

#knowledge-inner-list {
  padding-left: 1.5rem;
}

#knowledge-section {
  position: absolute;
  @include text-frame;
  width: 35%;
  margin-top: 5%;
  margin-left: 3%;
}

#learn-section {
  @include text-frame;
  width: 45%;
  margin-left: 50%;
  margin-top: 25%;
}

#learning-section {
  width: 100%;
}

#relearning-container {
  padding-top: 2rem;
}
