/* ---------- SOCIAL ICONS ---------- */

#social-container {
  position: absolute;
  display: flex;
  min-width: 20rem;
  min-height: 10rem;
  top: 85%;
  left: 75%;
  max-width: 10rem;
  max-height: 7rem;
}
